{% extends 'base.html.twig' %}

{% block body %}
    <div class="error">
        <a href="{{ path('home') }}">Retour</a>
        <span class="error__message">
            {{ message }}
        </span>
    </div>
{% endblock %}